%html.h-100{lang:"en"}
  %head
    %title Switchplug Webinterface
    %link{rel:"stylesheet", href:"/css/bootstrap.min.css"}
    %meta{charset:"UTF-8"}
  %body.h-100.d-flex.flex-column
    .container
      %h1.mt-5 Switchplug Webinterface

      -if(man_turn_on_until > new Date)
        .badge.badge-success
          Currently the plug is manually turned on until
          = ' ' + man_turn_on_until
        %br
      %br
      %form
        Turn on for the next
        %select{name: 'turn_on_hours'}
          %option 0
          %option 1
          %option 2
          %option 3
          %option 4
          %option 5
          %option 10
          %option 20
        hours.
        %input{type: 'submit', value: 'start'}

      %hr

      %p This site provides an overview over the configuration to switch the fritz plugs by awattar hourly price
      %table.table
        %tr
          %td Find cheapest price between
          %td
            = config.hours_to_turn_on_after + 'h '
            and
            = ' ' + config.turn_on_until_24h + 'h'
        %tr
          %td Turn on for
          %td= config.hours_to_turn_on + ' hours'
        %tr
          %td Turn always on below
          %td= config.always_turn_on_below + ' cent'
        %tr
          %td Basic rate
          %td= config.basic_rate + ' cent'
        %tr
          %td User name for fritz.box
          %td= config.fritzboxuser
        %tr
          %td Marketprice
          %td=marketprice/10 + ' cent'
      -for(var i = 0, len = list.length; i < len; i++)
        %table.table
          %tr
            %th Name
            %th=list[i]['name']
          %tr
            %td Identifier
            %td=list[i]['identifier']
          %tr
            %td State
            %td=list[i]['switch']['state']
          %tr
            %td Temperature
            %td=list[i]['temperature']['celsius']/10 + ' °C'
          %tr
            %td Voltage
            %td=list[i]['powermeter']['voltage']/1000 + ' V'
          %tr
            %td Power
            %td=list[i]['powermeter']['power']/1000 + ' watts'

      %h2 Preisübersicht
      In grün die billigsten Stunden, zu denen der Stecker eingeschaltet wird.
      %br
      %br
      -for(var i = 0, len = awattar_data.length; i < len; i++)
        -var price = (awattar_data[i].marketprice/10)*1.19+config.basic_rate
        -var price_hour = new Date(awattar_data[i].start_timestamp)
        -price_hour = price_hour.getHours()
        -var now = new Date()
        -var bar_color = 'blue'
        -if(cheapest_hours.includes(price_hour))
          -bar_color = 'green'
        =new Date(awattar_data[i].start_timestamp)
        .progress
          .progress-bar{role:"progressbar", style:"width: "+(price*10)/3+"%;background-color:"+bar_color}=Math.round(price*100)/100 + ' cent'
    .footer.mt-auto.py-3
      .container
        %span.text-muted
          Maintained by
          %a{href: "https://t.me/Master92"} Moritz Mair
          . For contributing please make a pull request on
          %a{href: "https://github.com/moritzmair/plugswitch"} Github
          .